<div class="white-box">
    <h3>Le Groupe GEFCO est un expert de classe mondiale des solutions pour la supply chain 
      et le leader européen de la logistique européen de la logistique automobile. GEFCO met 
      au service d'une dizaine de secteurs industriels une gamme de sevices totalement intégrés 
      et un réseau couvrant le monde entier, avec une offre multimodale. Nous concevons des 
      solutions intelligentes et flexibles, adaptées aux besoins de chacun de nos clients</h3>
  
    <div class="social-logos">
      <img src="./assets/twitter.png" alt="Logo Twitter">
      <img src="./assets/youtube.png" alt="Logo YouTube">
      <img src="./assets/linkedin.png" alt="Logo LinkedIn">
    </div>
  </div>
  